<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SeDo Games</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/styles-slider.css" />
</head>

<body>
    <div class="body-wrapper">
        <header id="header"></header>
        
        <section id="section-slider"></section>
        
        <footer id="footer">
<!--            <div class="footer-logo"><a href="/" title="SeDo Games"><img src="img/logo.png" title="SeDo Games"/></a></div>-->
            <span>© 2015 | SeDo Games. All rights reserved</span>
        </footer>
    </div>
    
    
    
    
    
    
    <script id="headerTemplate" type="text/template">
        <section id="logo">
            <div class="footer-logo">
                <a href="/" title="SeDo Games">
                    <img src="img/logo.png" title="SeDo Games"/>
                </a>
            </div>
        </section>
        
        <nav>
            <div class="menu-wrapper">
                <div class="menu-icon"></div>
                <div class="menu-items"></div>
                <div class="menu-end"></div>
            </div>
        </nav>        
    </script>
    
     <script id="sliderTemplate" type="text/template">
        <div id="da-slider" class="da-slider">
        
        
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
        </div>
    </script>
    
    <script id="sliderItemTemplate" type="text/template">
       
            <h2><%= title %></h2>
            <p><%= shortDescription %></p>
            <a href="#" class="da-link">Read more</a>
            <div class="da-img">
                <div class="icon"><img src="<%= iconSrc %>" alt="icon" /></div>
                 <div class="mobile">
                    <div class="mobile-frame">
                        <img src="<%= images[0].src %>=h135-rw" alt="mobile-screen" />
                    </div>
                </div>
                <div class="tablet">
                    <div class="tablet-frame">
                        <img src="<%= images[1].src %>=h200-rw" alt="tablet-screen" />
                    </div>
                </div>                
               
            </div>
       
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    
    
    <script src="js/libs/modernizr.custom.28468.js" type="text/javascript"></script>
    <script src="js/libs/jquery.css.slider.js" type="text/javascript"></script>

    <script src="js/Models/GameModel.js" type="text/javascript"></script>
    <script src="js/Models/GamesCollection.js" type="text/javascript"></script>
    <script src="js/Views/GameView.js" type="text/javascript"></script>
    <script src="js/Views/HeaderView.js" type="text/javascript"></script>
    <script src="js/Views/SliderItemView.js" type="text/javascript"></script>
    <script src="js/Views/SliderView.js" type="text/javascript"></script>
    
    <script src="js/Router.js" type="text/javascript"></script>
</body>

</html>